<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/main.html}">

<head>
    <title>SIBKM 05 - Ikhsan</title>
</head>

<body>
    <section class="container" layout:fragment="content">
        <div class="mt-5 align-items-center">
            <h1 class="text-center fw-bold">Dashboard <br> Welcome <span th:text="${name}"></span></h1>

            <div class="row gy-3 my-3">
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card">
                        <img th:src="@{/img/flag/Indonesia.png}" class="card-img-top" alt="">
                        <div class="card-body">
                          <h5 class="card-title">Indonesia</h5>
                          <p class="card-text">Indonesia is a diverse archipelagic nation in Southeast Asia and Oceania</p>
                          <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#IndonesiaModal">Detail</button>
                          <!-- <a href="#indonesiaModal" class="btn btn-primary">Detail</a> -->
                        </div>
                      </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card">
                        <img th:src="@{/img/flag/Singapore.png}" class="card-img-top" alt="">
                        <div class="card-body">
                          <h5 class="card-title">Singapore</h5>
                          <p class="card-text">Singapore is a prosperous island city-state in Southeast Asia with diverse cultures and languages</p>
                          <a href="#" class="btn btn-primary">Detail</a>
                        </div>
                      </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card">
                        <img th:src="@{/img/flag/Malaysia.png}" class="card-img-top" alt="">
                        <div class="card-body">
                          <h5 class="card-title">Malaysia</h5>
                          <p class="card-text">Malaysia is a diverse and prosperous Southeast Asian country with 13 states and 3 federal territories</p>
                          <a href="#" class="btn btn-primary">Detail</a>
                        </div>
                      </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card">
                        <img th:src="@{/img/flag/Japan.png}" class="card-img-top" alt="">
                        <div class="card-body">
                          <h5 class="card-title">Japan</h5>
                          <p class="card-text">Japan is an island nation in East Asia with rich culture, history, and technology</p>
                          <a href="#" class="btn btn-primary">Detail</a>
                        </div>
                      </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card">
                        <img th:src="@{/img/flag/South Korea.svg}" class="card-img-top" alt="">
                        <div class="card-body">
                          <h5 class="card-title">South Korea</h5>
                          <p class="card-text">South Korea is a prosperous and democratic East Asian country with a rich culture and history</p>
                          <a href="#" class="btn btn-primary">Detail</a>
                        </div>
                      </div>
                </div>
            </div>

        </div>
        </section>
    
        <div layout:fragment="js">
          <script th:src="@{/js/home.js}"></script>
        </div>
</body>
</html>